<html>
  <head>
    <title>Toj Tu Yeetel</title>
    <meta name="description" content="sistema de cosechas">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/style.css">
    
    <script src="/client.js" defer></script>
  </head>
  
  <body>
    <header>
      <h1>
        Toj Tu Yeetel
      </h1>
      
      <form action="/logout" method="POST">
       <button action="/logout" method="POST" class="xbutton" type="submit">Cerrar sesion</button> 
      </form>
      
      <div id="bar">
       <script>
        $(function(){
          $("#bar").load("../views/bar.html");
        })
       </script>
      </div>
      
    </header>

    <main>
      
      <script>
       var error = window.location.search.substr(1)
       error = error.split("_");
       error = error.join(" ");
       document.write("<h3>"+error+"</h3>");
      </script>
      
      <div id="content">
       <script>
        $(function(){
          $("#content").load("../views/inicio.html");
        })
       </script>
      </div>
    </main>

  </body>
  
</html>